.home {
  background-color: grey;
  padding: 40px;
  font-family: Arial;
}

.longboarding {
  border-radius: 8px;
  width: 300px;
}

.awards {
  border-radius: 8px;
  width: 300px;
}

.files {
  border-radius: 8px;
  width: 300px;
}

.music {
  border-radius: 8px;
  width: 300px;
}

.polaroid {
  border-radius: 8px;
  width: 300px;
}

.contact {
  border-radius: 8px;
  width: 300px;
}

.coding {
  border-radius: 8px;
  width: 300px;
}

